<mat-card>
	<mat-toolbar color="primary">Detalhes do Setor</mat-toolbar>
	<mat-card-content>
		<form [formGroup]="form">
			<mat-form-field class="full-width">
				<mat-label>Setor</mat-label>
				<mat-select formControlName="nome">
					<mat-option value="null"></mat-option>
					<mat-option value="AÇÕES(BRASIL)">AÇÕES(BRASIL)</mat-option>
					<mat-option value="AÇÕES(USA)">AÇÕES(USA)</mat-option>
					<mat-option value="FII(FUNDOS IMOBILIÁRIOS)">FII(FUNDOS IMOBILIÁRIOS)</mat-option>
					<mat-option value="CRIPTOMOEDAS">CRIPTOMOEDAS</mat-option>
					<mat-option value="OURO">OURO</mat-option>
					<mat-option value="TESOURO DIRETO">TESOURO DIRETO</mat-option>
					<mat-option value="RESERVA DE OPORTUNIDADE FUNDO DI">RESERVA DE OPORTUNIDADE FUNDO DI</mat-option>
					<mat-option value="RENDA FIXA">RENDA FIXA</mat-option>
				</mat-select>
			</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput placeholder="Porcentagem" formControlName="porcentagem">
			</mat-form-field>
			
			<mat-form-field class="full-width">
				<input matInput placeholder="Valor" formControlName="valor">
			</mat-form-field>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
		<button mat-raised-button (click)="onCancel()">Cancelar</button>
	</mat-card-actions>
</mat-card>