mat-card {
	max-width: 80%;
	margin: 2em auto;
	text-align: center;
}

mat-card-actions {
	justify-content: center;
}

button {
	margin: 0 0 5px 5px;
}

.full-width {
	width: 100%;
}

.form-array-error {
	text-align: left;
}