<mat-card> <mat-toolbar color="primary">Detalhes
do Setor</mat-toolbar> <mat-card-content>
<form [formGroup]="form">
	<mat-form-field class="full-width"> <mat-label>Setor</mat-label>
	<mat-select formControlName="nome"> <mat-option></mat-option>
	<mat-option [value]="option" *ngFor="let option of nomes">{{
	option }}</mat-option> </mat-select> <mat-error *ngIf="form.get('nome')?.invalid">{{formUtils.getErrorMessage(form, 'nome')}}</mat-error>
	</mat-form-field>

	<mat-form-field class="full-width"> <mat-label>Porcentagem</mat-label>
	<input matInput placeholder="Porcentagem" formControlName="porcentagem" type="number">
	<mat-error *ngIf="form.get('porcentagem')?.invalid">{{formUtils.getErrorMessage(form, 'porcentagem')}}</mat-error>
	</mat-form-field>

	<mat-form-field class="full-width"> <mat-label>Valor</mat-label>
	<input matInput placeholder="Valor" formControlName="valor" type="number"> <mat-error
		*ngIf="form.get('valor')?.invalid">{{formUtils.getErrorMessage(form, 'valor')}}</mat-error>
	</mat-form-field>


	<mat-toolbar> <span>Ativos</span>
	<button mat-icon-button color="accent" (click)="addNewAtivo()">
		<mat-icon aria-label="Adicionar um novo ativo">add</mat-icon>
	</button>
	</mat-toolbar>
	<mat-error *ngIf="formUtils.isFormArrayRequired(form, 'ativos')" class="form-array-error">Adicione
	pelo menos um ativo</mat-error>

	<table style="width: 100%" formArrayName="ativos"
		*ngFor="let ativo of getAtivosFormArray(); let i = index">
		<tr [formGroupName]="i">
			<td style="width: 65%"><mat-form-field class="full-width">
				<mat-label>Nome do Ativo</mat-label> <input matInput
					formControlName="nome" /> <mat-error
					*ngIf="getAtivosFormArray()[i].get('nome')?.invalid">{{ formUtils.getFormArrayFieldErrorMessage(form, 'ativos', 'nome', i) }}</mat-error>
				</mat-form-field></td>
			<td style="width: 5%"><mat-form-field class="full-width">
				<mat-label>Sigla</mat-label> <input matInput formControlName="sigla" /><mat-error
					*ngIf="getAtivosFormArray()[i].get('sigla')?.invalid">{{ formUtils.getFormArrayFieldErrorMessage(form, 'ativos', 'sigla', i) }}</mat-error>
				</mat-form-field></td>
			<td>
			<td style="width: 15%"><mat-form-field class="full-width">
				<mat-label>Tipo</mat-label> <input matInput formControlName="tipo" /><mat-error
					*ngIf="getAtivosFormArray()[i].get('tipo')?.invalid">{{ formUtils.getFormArrayFieldErrorMessage(form, 'ativos', 'tipo', i) }}</mat-error>
				</mat-form-field></td>
			<td>
			<td style="width: 15%"><mat-form-field class="full-width">
				<mat-label>Segmento</mat-label> <input matInput formControlName="segmento" /><mat-error
					*ngIf="getAtivosFormArray()[i].get('segmento')?.invalid">{{ formUtils.getFormArrayFieldErrorMessage(form, 'ativos', 'segmento', i) }}</mat-error>
				</mat-form-field></td>
			<td>
				<button mat-icon-button color="warn" (click)="removeAtivo(i)">
					<mat-icon aria-label="Remover ativo">delete</mat-icon>
				</button>
			</td>
		</tr>
	</table>
</form>
</mat-card-content> <mat-card-actions>
<button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
<button mat-raised-button (click)="onCancel()">Cancelar</button>
</mat-card-actions> </mat-card>